.father {
    &-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        > * {
            width: 350px;
            min-width: 350px;
            height: 550px;
            overflow-y: scroll;
            overflow-x: auto;
            // width: calc(50% - 125px);
            border: unset;
            margin: 1px;
        }
    }
}